@media (min-width: 768px) {
    .header-content {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    #hamburger {
        display: none;
    }

    nav {
        display: block;
        width: auto;
    }

    nav ul {
        flex-direction: row;
        width: auto;
    }

    .temple-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1024px) {
    .temple-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    h1 {
        font-size: 2.2rem;
    }

    h2 {
        font-size: 1.8rem;
    }
}